#body{
    -fx-background-image: url('background.jpg');
    -fx-background-size: 640, 320;
    -fx-background-repeat: no-repeat;
}

.button{
    -fx-background-color: #000000;
}

.label{
    -fx-color: #FFFFFF;
}

.combo-box{
    -fx-background-color: #000000;
}

.combo-box .text-field {
    -fx-color: #FFFFFF;
}

.text-field{
 -fx-border-color: black;
   -fx-border-width: 2;
}

.text-area{
 -fx-border-color: black;
   -fx-border-width: 2;
}